* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}



h1 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}





 /* General container styling */
 .AdminContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; 
    
  
} 

/* Form styling */
form {
    margin-bottom: 20px; 
    width: 100%;
    
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}




/*  admin Product container styling */

.DymaniContainer{
height: 1px;
}








/* card styling  */


/* Container for product cards */
#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 16px;
    justify-content: center;
    background-color: #fff; 
    margin-top: 20px;
}


 .product-card {
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 2px 4px #0707071a; 
    overflow: hidden; 
    width: 300px; 
    text-align: center; 
    background-color: #e0dddd; 
    
    height: fit-content;
} 

.edit-btn{
    background-color: rgb(219, 67, 67);
}


.product-image {
    width: 50%; 
    height: 50%; 
   padding: 10px;
   
}


.product-card h3 {
    font-size: 1.2em; 
    margin: 16px 0 8px; 
}


.product-card p {
    margin: 0 0 8px;
    color: #555; 
    
}

.edit-btn{
    margin-bottom: 5px !important
}











